<%= form_with model: [ article, article.comments.build ] do |form| %>
    <p>
        <%= form.label :status %><br>
        <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
    </p>

    <div>
        <%= form.label :commenter %> <br>
        <%= form.text_field :commenter %>
    </div>

    <div>
        <%= form.label :body %> <br>
        <%= form.text_area :body %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>